@font-face {
  font-family: "light";
  src: url(./fonts/GothamLight.ttf);
}
@mixin oneline-text {
  word-break: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  white-space: unset;
  word-break: break-all;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;
  overflow: hidden;
}
.item-wrapper {
  color: white;
  max-height: 100%;
  overflow: hidden;
}
.wrapper {
  height: 100%;
  overflow: hidden;
  padding: 0px 0px;
  .header-container {
    display: grid;
    grid-template-columns: [image] 300px [playlistInfo] 1fr;
    gap: 40px;
    .album-cover-container {
      width: 100%;
      height: 300px;
      padding: 30px;
      position: relative;
      .album-cover {
        top: 0;
        left: 0;
        box-shadow: 0, 4px, 60px, rgba(0, 0, 0, 50%);
        width: 300px;
        height: 300px;
        z-index: 5;
        padding: 20px;
        position: absolute;
        display: block;
        object-fit: cover;
        object-position: center center;
      }
      .album-mask {
        z-index: 4;
        top: 0;
        left: 0;
        position: absolute;

        width: 100%;
        height: 100%;

        background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
      }
    }

    .playlist-info-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      color: white;
      .playlist-title {
        font-size: 40px;
      }
      .playlist-creator {
        font-weight: 700;
        font-size: 11px;
        font-family: light;
        color: #a8a8a8;
      }
    }
  }
}
.inactive {
  display: none;
}
.tracks-container {
  max-height: 100%;
  overflow: hidden;
  &:hover {
    .label-container {
      .label-check-container {
        display: flex;
        position: relative;
        align-items: center;
        .label-count {
          font-size: 15px;
          display: none !important;
        }
        .check-box {
          cursor: pointer;
          display: block !important;
          position: absolute;
          fill: white;
          top: 0;
        }
      }
    }
  }
  @media (hover: none) {
    .track-count {
      display: none !important;
    }
  }
}
.label-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: [index] 50px [title] 4fr [album] 2fr [last] minmax(
      120px,
      1fr
    );
  height: 40px;
  margin-bottom: 16px;
  width: 100%;
  padding-bottom: 20px;
  color: white;
  margin-top: 16px;
  border-bottom: 0.5px gray solid;

  .label-item {
    -webkit-box-orient: vertical;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;

    text-overflow: ellipsis;
  }

  .label-title {
    color: white;
    display: flex;
    font-family: "light";
    font-weight: 100;
    overflow: hidden;
    text-transform: uppercase;
    text-align: left;
  }
  .label-album {
    font-family: "light";
    font-weight: 100;
    overflow: hidden;
    text-transform: uppercase;
    text-align: left;
  }
  .label-playlist {
    font-family: "light";
    font-weight: 100;
    overflow: hidden;
    text-transform: uppercase;
    text-align: left;
  }
  .label-check-container {
    display: flex !important;

    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 540px) {
  .header-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .album-cover-container {
    max-width: 300px !important;
    width: 100%;
  }
  .album-cover {
    width: 100% !important;
    height: 100% !important;
  }
  .label-title {
    @include oneline-text();
  }
  .label-artist {
    @include oneline-text();
  }
  .label-playlist {
    @include oneline-text();
  }
}

@media only screen and (max-width: 658px) {
  .label-playlist {
    display: none !important;
  }

  .label-container {
    grid-template-columns: [index] minmax(20px, 50px) [title] 1fr [album] 1fr !important;
  }
}
